* {
  box-sizing: border-box;
  background: yellow;
}

p {
  margin-left: 60px;
  padding-right: 75%;
  font-size: 20px;
}

h1 {
  font-size: 75px;
  color: cornflowerblue;
  text-align: center;
}

h2 {
  background: aqua;
  margin: 0 0 30px 0;
  text-align: center;
  color: red;
}

form {
  margin-bottom: 60px;
}

label {
  display: block;
  margin-bottom: 0.5em;
  background: aqua;
}

/*  LAYOUT STYLE */

.main-footer {
  text-align:center;
  padding: 2em 0;
}

.form-contact {
  background: aqua;
}
